<a href="https://colab.research.google.com/github/alfafimel/ELIZABETHJOSEPHINE-IPWK3/blob/master/pythonotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import the panda library
import pandas as pd
import numpy as np
import requests

In [2]:
# reading the files and creating dataframes
df1 = pd.read_csv('cells_geo.csv', delimiter = ';')
df2 = pd.read_csv('Telcom_dataset.csv')
df3 = pd.read_csv('Telcom_dataset2.csv')
df4 = pd.read_csv('Telcom_dataset3.csv')

# **##CDR DATASETS ANALYSIS**

In [3]:
# joining the three CDR datasets,
telecomdata = pd.concat([df2, df3, df4])
# telecomdata to csv
telecomdata.to_csv("telecomdata.csv", index=False)

In [4]:
#reading the combined dataframe into panda
df5 = pd.read_csv('telecomdata.csv')
df5

      PRODUTC  VALUE               DATETIME  ... DW_B_NUMBER      CELLID     SIET_ID
0       Voice      0  2012-05-06 23:04:37.0  ...         NaN         NaN         NaN
1         sms      0  2012-05-06 23:05:25.0  ...         NaN         NaN         NaN
2         sms     25  2012-05-06 23:05:41.0  ...         NaN         NaN         NaN
3       Voice     56  2012-05-06 23:05:42.0  ...         NaN         NaN         NaN
4       Voice     14  2012-05-06 23:06:29.0  ...         NaN         NaN         NaN
...       ...    ...                    ...  ...         ...         ...         ...
14998     NaN      0                    NaN  ...         NaN  2aa04dcab7  f7d63a29e5
14999     NaN     62                    NaN  ...         NaN  7f1f2f889f  b4ddb9e93c
15000     NaN     32                    NaN  ...         NaN  a4731e780e  d68260ef50
15001     NaN     30                    NaN  ...         NaN  98ed726da2  b4130b54ab
15002     NaN     60                    NaN  ...         NaN  1c11a2fcbb  6d70dae094

[15003 rows x 16 columns]

# **##combined analysis of the datasets both CDR and Cell geo**

In [5]:
mtndata = pd.concat([df1, df5])
mtndata.to_csv("mtndata.csv", index=False)

In [6]:
df6 = pd.read_csv('mtndata.csv')
df6

       Unnamed: 0   VILLES      STATUS  ... DW_B_NUMBER      CELLID     SIET_ID
0             0.0   ADJAME  In Service  ...         NaN         NaN         NaN
1             1.0   ADJAME  In Service  ...         NaN         NaN         NaN
2             2.0   ADJAME  In Service  ...         NaN         NaN         NaN
3             3.0  ASSINIE  In Service  ...         NaN         NaN         NaN
4             4.0  ASSINIE  In Service  ...         NaN         NaN         NaN
...           ...      ...         ...  ...         ...         ...         ...
18972         NaN      NaN         NaN  ...         NaN  2aa04dcab7  f7d63a29e5
18973         NaN      NaN         NaN  ...         NaN  7f1f2f889f  b4ddb9e93c
18974         NaN      NaN         NaN  ...         NaN  a4731e780e  d68260ef50
18975         NaN      NaN         NaN  ...         NaN  98ed726da2  b4130b54ab
18976         NaN      NaN         NaN  ...         NaN  1c11a2fcbb  6d70dae094

[18977 rows x 27 columns]

# **##data cleaning**

In [ ]:
#checking for missing values
df6.isnull()

In [8]:
#summary of missing values
df6.isnull().sum()

Unnamed: 0         15003
VILLES             15003
STATUS             15070
LOCALISATION       15003
DECOUPZONE         15003
ZONENAME           15009
LONGITUDE          15003
LATITUDE           15003
REGION             15003
AREA               15026
CELL_ID             5001
SITE_CODE          15003
PRODUTC            13976
VALUE               3974
DATETIME           13976
CELL_ON_SITE        3974
DW_A_NUMBER_INT     8975
DW_B_NUMBER_INT     8975
COUNTRY_A           3974
COUNTRY_B           3974
SITE_ID            10367
PRODUCT             8975
DATE_TIME           8975
DW_A_NUMBER        13976
DW_B_NUMBER        13976
CELLID             13976
SIET_ID            14581
dtype: int64

In [9]:
#drop missing values
df6_no_missing = df6.dropna()
df6_no_missing

Empty DataFrame
Columns: [Unnamed: 0, VILLES, STATUS, LOCALISATION, DECOUPZONE, ZONENAME, LONGITUDE, LATITUDE, REGION, AREA, CELL_ID, SITE_CODE, PRODUTC, VALUE, DATETIME, CELL_ON_SITE, DW_A_NUMBER_INT, DW_B_NUMBER_INT, COUNTRY_A, COUNTRY_B, SITE_ID, PRODUCT, DATE_TIME, DW_A_NUMBER, DW_B_NUMBER, CELLID, SIET_ID]
Index: []

In [ ]:
# Drop rows where all cells in that row is NA
df6_cleaned = df6.dropna(how='all')
df6_cleaned

In [ ]:
# Drop column if they only contain missing values
df6.dropna(axis=1, how='all')

In [12]:
# dropping duplicates in cells geo data
df6=df6.drop_duplicates(inplace=True)

In [ ]:
# to return indexes of columns
df6.columns

In [ ]:
# printing the data types in the data
print(df6.dtypes)

In [ ]:
# to return the count of columns and rows in the data
df6.shape

In [ ]:
# dropping unneeded columns
columns_to_delete = ['CELL_ON_SITE', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID']
df6.drop(columns_to_delete, inplace=True, axis=1)

In [ ]:
# Minimum value of billing price
df6['VALUE'].min()

In [ ]:
# Maximum value of billing price
df6['VALUE'].max()

In [ ]:
# Create a groupby variable that groups VILLES by VALUE
groupby_value = df6['villes'].groupby(df6['value'])
groupby_value

In [ ]:
# Descriptive statistics by group
df6['product'].groupby(df6['value']).describe()